{
  "env": {
    "production": {
      "presets": [
        ["es2015", {"modules": false}],
        "react",
        "stage-0"
      ],
      "plugins": [
        ["transform-react-remove-prop-types", {"removeImports": true}]
      ]
    }
  },
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    ["module-resolver", {
      "root": [
        "./src"
      ],
      "alias": {
        "react-elemental": "./dist"
      }
    }]
  ]
}
